<!--
                    <div class="form-group">
                        <label class="col-lg-3 control-label">New Password:</label>
                        <div class="col-lg-8">
                            @Html.TextBoxFor(Model => Model.Password, new { @class = "form-control", @id = "inputPassword", @type = "password" })
                            <i class="far fa-eye" id="togglePassword" onclick="TogglePass()"></i>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Password Confirmation:</label>
                        <div class="col-lg-8">
                            @Html.TextBoxFor(Model => Model.Password, new { @class = "form-control", @id = "inputPassword2", @type = "password" })
                            <i class="far fa-eye" id="togglePassword2" onclick="TogglePass()"></i>
                        </div>
                    </div>-->
