
<marquee behavior="alternate" direction="up" width="80%">
    <marquee direction="right" behavior="alternate" scrollamount="10">
        <h2>Hemos enviado la contrasena a su direccion de correo</h2>
    </marquee>
</marquee>

