
<marquee behavior="alternate" direction="up" width="80%">
    <marquee direction="right" behavior="alternate" scrollamount="10">
        <h2>El usuario ha sido modificado exitosamente</h2>
    </marquee>
</marquee>

<p>
    @Html.ActionLink("Home", "Home", "Home", new { @class = "btn btn-primary" })
</p>
