
<marquee behavior="alternate" direction="up" width="80%">
    <marquee direction="right" behavior="alternate" scrollamount="10">
        <h2>La Marca que desea borrar tiene productos asociados, eliminelos antes de eliminar la marca.</h2>
    </marquee>
</marquee>

<p>
    @Html.ActionLink("Volver a la tabla", "ViewBrands", "Brand", new { @class = "btn btn-primary" })
</p>