@model  IEnumerable<Aplicacion.Entities.Brand>
@{
    ViewBag.Title = "";
}

<h2>List Of Brands</h2>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th @Html.DisplayNameFor(model => model.Name)>Brands</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Name</th>
                    <th><img src="@item.Photo"style="width: 100px; height: 100px"
                                 class="rounded-circle"/></th>
                </tr>
            }

        </tbody>
    </table>
</div>