@model  IEnumerable<Aplicacion.Entities.Brand>
@{
    ViewBag.Title = "ViewBrands";
}

<h2>List Of Brands</h2>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Id</th>
                    <th>@item.Name</th>
                </tr>
            }

        </tbody>
    </table>
</div>