@model  Aplicacion.Entities.UserPerson
@{ if (IsPost)
    {
        
        string Id = Request["Id"];
    }
    else
    {

    }
    ViewBag.Title = "Registration Form";
}

<div class="container">
    <form action="ViewProductById" method="get">
        <table class="table">
            <tr>
                <td>Enter ID: </td>
                <td><input type="text" name="Id" value="@Html.Editor("Id")" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit Form" /></td>
            </tr>
        </table>
    </form>
</div>