@{
    ViewBag.Title = "ShoeCorp Contact";
}

<address>
    Multiplaza Escazu<br />
    Local #21, SJ 98052-6399<br />
    <abbr title="Telefono">P:</abbr>
    +506-8866-7456
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@shoeCorp.com">Support@shoeCorp.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@shoeCorp.com">Marketing@shoeCorp.com</a><br />
    <strong>Sales:</strong> <a href="mailto:Marketing@shoeCorp.com">Marketing@shoeCorp.com</a><br />
</address>