
<marquee behavior="alternate" direction="up" width="80%">
    <marquee direction="right" behavior="alternate" scrollamount="10">
        <h2>La orden no fue eliminada</h2>
    </marquee>
</marquee>

