
@{
    ViewBag.Title = "Terms";
}


<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">

            <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                    <img src="~/Content/Images/ShoeCorp.jpeg"
                         style="width: 185px;" alt="logo" class="brand-image img-circle elevation-3" />
                    <h4 class="mt-1 mb-5 pb-1">Terms and conditions SHOECORP</h4>
                </div>

                <h3>
                    Although this is a university project, in the same way, there are terms and conditions that the
                    user has to accept, in this case they have to know that they have access to the location as well
                    as their credit cards and any type of payment method. either cash or debit or credit card
                </h3>
                <br />
                <h3>You must also accept the use of cookies on the implementation on this website property of SHOECORP</h3>
                <br />
                <h3>In this case, the shortcode owners are the members of group number 4, which in this case are Elisama Cubillo, Emmanuel Rojas and Steven Piedra</h3>
            </div>
            <a class="text-muted" href="@Url.Action("UserRegistration", "LogIn")">Return to Register</a>
        </div>
    </div>
</div>


