@model  Aplicacion.Entities.Users

@using (Html.BeginForm("ValidateUser", "LogIn", FormMethod.Post))
{
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">

                    <div class="card-body p-md-5 mx-md-4">

                        <div class="text-center">
                            <img src="~/Content/Images/logo.png"
                                 style="width: 185px;" alt="logo" class="brand-image img-circle elevation-3" />
                            <h4 class="mt-1 mb-5 pb-1">Welcome to ShoeCorp</h4>
                        </div>

                        <form action="~/Controllers/Users/ValidateUsers" method="post" id="LogInForm">
                            <p class="text-center">Please login to your account</p>

                            <div class="form-outline mb-4 d-flex justify-content-center">
                                @Html.TextBoxFor(Model => Model.Username, new { @class = "form-control", @placeholder = "Username", required="required"})
                            </div>


                            <div class="form-outline mb-4 d-flex justify-content-center">
                                @Html.PasswordFor(Model => Model.Password, new { @class = "form-control", @placeholder = "Password", required = "required" })
                            </div>

                            <div class="text-center pt-1 mb-5 pb-1">
                                <button class="btn btn-primary btn-lg fa-lg gradient-custom-2 mb-3" type="submit">
                                    Log
                                    in
                                </button>
                                <a class="text-muted" href="#!">Forgot password?</a>
                            </div>

                            <div class="d-flex align-items-center justify-content-center pb-4">
                                <p class="mb me-2">Don't have an account?</p>
                                <a type="button" href="@Url.Action("UserRegistration", "LogIn")" class="btn btn-outline-danger d-flex justify-content-center">Create new</a>
                            </div>                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

}

